@model IEnumerable<MVC_Rotas.Models.Noticia>
@{
    ViewBag.Title = "Home Page";
}

<h2> Rotas em ASP </h2>
<div>
    <ul>
        @foreach (string item in ViewBag.categoria)
        {
            <li>
                @Html.ActionLink(item, "MostraCategoria", "Home", new { @categoria = item },null)
            </li>
        }
    </ul>
</div>
<div>
    <ul>
        @foreach (var item in Model)
        {
            <li>
                @Html.ActionLink(item.titulo, "MostraNoticia", "Home", new
                {
                   @noticiaID = item.noticiaID,
                   @categoria = item.categoria.ToLower(),
                   @titulo = item.titulo.ToLower(),

                }, null);

                <em>@Html.DisplayFor(modelItem => item.categoria) </em>
                <b>@Html.DisplayFor(modelItem => item.data) </b>
            </li>
        }
    </ul>
</div>
<div>
    @Html.ActionLink("Todas as noticias", "TodasAsNoticias", "home")
</div>